<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task Managements</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">CRUD</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
			<li class="nav-item active">
			  <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="users">Çalışan Listesi</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="projects">Proje Listesi</a>
			  </li>
			<li class="nav-item">
				<a class="nav-link" href="tasks">Görev Listesi</a>
			  </li>
		  </ul>
		</div>
	  </nav>
	  <br>
	</br>
    <div class="container">
		<div class="row">
			<h1>Görev Listesi</h1>
		</div>
		
		<div class="col-lg-3">
			<a th:href = "@{/tasks/add}" class="btn btn-primary btn-sm mb-3">Görev Ekle</a>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Proje İsmi</th>
					<th>Başlangıç Tarihi</th>
					<th>Bitiş Tarihi</th>
					<th>Durum</th>
					<th>İşlemler</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each = "task : ${tasks}">
					<td th:text = "${task.taskName}"></td>
					<td th:text = "${task.startDate}"></td>
					<td th:text = "${task.endDate}"></td>
					<td th:text = "${task.state}"></td>
					<td>
						<a th:href = "@{tasks/edit/{id}(id = ${task.id})}" class="btn btn-primary">Update</a>
						<a th:href = "@{tasks/delete/{id}(id = ${task.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>